
{% if page.header contains "models" or page.type contains "model" %}
<div id="header-bar">
	<a href="{{ site.baseurl }}/models">
		<img id="header-banner" src="{{site.baseurl}}/assets/images/models/banner.png">
	</a>

	<img id="header-bannerRight" src="{{site.baseurl}}/assets/images/models/banner-right.png">
</div>



<style type="text/css">
	
	body{
		background-color: #DDDDDD;
	}
	#header-bar{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 15px;
		text-align: left;
		background-color: white;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	#header-banner{
		height: 80px;
	}

	#header-bannerRight{
		height: 80px;
	}

</style>

{% elsif page.header contains "photography" or page.type contains "photography" %}

<div id="header-bar">
	<img id="header-banner" src="{{site.baseurl}}/assets/images/photography/banner.png">
</div>


<style type="text/css">
	
	body{
		background-color: #1a1a1a;
	}
	#header-bar{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
		text-align: left;
		background-color: black;
	}

	#header-banner{
		height: 60px;
	}
</style>
{% endif %}