
{% if page.header contains "models" or page.type contains "model" %}
<div id="header-bar">
	<a href="{{ site.baseurl }}/models">
		<img id="header-banner" src="{{site.baseurl}}/assets/images/models/banner.png">
	</a>

	<img id="header-bannerRight" src="{{site.baseurl}}/assets/images/models/banner-right.png">
</div>

<div id="mw-mobileBanner">
	<a href="{{ site.baseurl }}/models">
		<img id="mw-mobileBannerImg" src="{{site.baseurl}}/assets/images/models/banner-mobile.png">
	</a>
</div>

<style type="text/css">
	
	body{
		background-color: #DDDDDD;
	}
	#header-bar{
		text-align: left;
		background-color: white;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		border-radius: 5px;
	}

	#header-banner{
		width: 45%;
		padding-left: 1%;
	}

	#header-bannerRight{
		width: 20%;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	#mw-mobileBanner{
		display: none;
	}

	@media only screen and (max-width: 420px){
		#header-bar{
			display: none;
		}

		#mw-mobileBanner{
			display: block;
			margin: 0 auto;
			padding: 7px;
			background-color: white;
			border-radius: 5px;
			width: 95%;
			margin-top: 5px;
		}

		#mw-mobileBannerImg{
			width: 100%;
			border-radius: 5px;
		}
	}

</style>

{% elsif page.header contains "photography" or page.type contains "photography" %}
{% assign sets = site.posts | where:"type","photography, photoset" %}

<div id="header-bar">
		
	<div id="header-banner">
		<a href="{{ site.baseurl }}/photography">
			<img id="header-bannerIMG" src="{{site.baseurl}}/assets/images/photography/banner.png">
		</a>	
	</div>

	<div id="photo-navBar">

		<div class="photo-nav">
			<a href="{{ site.baseurl }}/photo-gallery">
				<span>&#10096; Gallery &#10097;</span>
			</a>
		</div>

		<div class="photo-nav" id="photoDD">
			<span>&#10096; Recurring Themes &#10097;</span>

			<div id="photoDDsets">
				{% for set in sets %}
				<a href="{{ site.baseurl }}{{ set.url }}">{{ set.title }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div id="photo-mobileHeader">	

	<div id="photo-mobileBanner">
		<a href="{{ site.baseurl }}/photography">
			<img id="photo-mobileBannerIMG" src="{{site.baseurl}}/assets/images/photography/banner-mobile.png">
		</a>
	</div>

	<div id="photo-navBar">

		<div class="photo-nav">
			<a href="{{ site.baseurl }}/photo-gallery">
				<span>&#10096; Gallery &#10097;</span>
			</a>
		</div>

		<div class="photo-nav" id="photoDD">
			<span>&#10096; Recurring Themes &#10097;</span>

			<div id="photoDDsets">
				{% for set in sets %}
				<a href="{{ site.baseurl }}{{ set.url }}">{{ set.title }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	
	body{
		background-color: #1a1a1a;
	}
	#header-bar{
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: left;
		background-color: black;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#photo-mobileHeader{
		display: none;
	}

	#header-banner{
		width: 30%;
	}

	#header-bannerIMG{
		padding-left: 1%;
		width: 100%;
	}

	@media only screen and (max-width: 420px){
		#header-bar{
			display: none;
		}

		#photo-mobileHeader{
			display: block;
			margin: 0 auto;
			margin-top: 5vw;
			width: 90%;
			text-align: center;
		}

		#photo-mobileBanner{
			width: 100%;
		}

		#photo-mobileBannerIMG{
			width: 100%;
		}

		#photo-navBar{
			flex-direction: column-reverse;
			margin: 0 auto;
			margin-top: 5%;

		}

		.photo-nav{
			font-size: 6vw;
			padding: 3vw;
			background-color: black;
			margin-bottom: 5%;
		}

		#swp-recentText{
			margin-top: 10%;
			font-size: 3.75vw;
			margin-left: 10%; 
		}

		#swp-recentGallery{
			width: 100%;
		}

		.photo-modalContent{
			width: 98%;
		}

		.photo-modalIMG{
			height: unset;
			max-height: unset;
			max-width: unset;
			width: 100%;
		}

		.photo-modalInfo{
			height: unset;
		}

		.photo-modalCaption{
			font-size: 3vw;
			width: unset;
			padding: 4vw;
		}

		.photo-modalSet{
			font-size: 2.5vw;
			padding: 4vw;
			width: unset;
		}

		#swp-linkGallery{
			font-size: 3vw;
		}

		#photoDDsets{
			width: 90%;
		}

		#photoDDsets a{
			font-size: 3.5vw;
		}

		#photoset-title{
			font-size: 4vw;
		}

		#photoset-desc{
			font-size: 4vw;
		}
	}

</style>

{% elsif page.header contains "blog" or page.type contains "blog-post" %}

<div id="header-bar">
	<a href="{{ site.baseurl }}/blog">
		<div id="header-txt">Adventure Log: An Analog Blog</div>
	</a>

</div>

<style type="text/css">
	
	body{
		background-color: SeaGreen;
	}
	
	#header-bar{
		background-image: url(https://i.imgur.com/tBCrwQ9.jpg);
		background-size: cover;
		background-position: center;
		width: 65%;
		margin: 0 auto;
	}
	
	#header-txt{
		font-size: 2vw;
		font-family: early_gameboy;
		padding: 1.5%;
		text-align: center;
		padding-top: 8%;
		padding-bottom: 8%;
		
	}
	
	a #header-txt{
		color: white;
	}
	
</style>

{% endif %}
