
{% if page.header contains "models" or page.type contains "model" %}
<div id="header-bar">
	<a href="{{ site.baseurl }}/models">
		<img id="header-banner" src="{{site.baseurl}}/assets/images/models/banner.png">
	</a>

	<img id="header-bannerRight" src="{{site.baseurl}}/assets/images/models/banner-right.png">
</div>

<div id="mw-mobileBanner">
	<a href="{{ site.baseurl }}/models">
		<img id="mw-mobileBannerImg" src="{{site.baseurl}}/assets/images/models/banner-mobile.png">
	</a>
</div>

<style type="text/css">
	
	body{
		background-color: #DDDDDD;
	}
	#header-bar{
		text-align: left;
		background-color: white;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		border-radius: 5px;
	}

	#header-banner{
		width: 45%;
		padding-left: 1%;
	}

	#header-bannerRight{
		width: 20%;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	#mw-mobileBanner{
		display: none;
	}

	@media only screen and (max-width: 420px){
		#header-bar{
			display: none;
		}

		#mw-mobileBanner{
			display: block;
			margin: 0 auto;
			padding: 7px;
			background-color: white;
			border-radius: 5px;
			width: 95%;
			margin-top: 5px;
		}

		#mw-mobileBannerImg{
			width: 100%;
			border-radius: 5px;
		}
	}

</style>

{% elsif page.header contains "photography" or page.type contains "photography" %}
{% assign sets = site.posts | where:"type","photography, photoset" %}

<div id="header-bar">
		
	<div id="header-banner">
		<a href="{{ site.baseurl }}/photography">
			<img id="header-bannerIMG" src="{{site.baseurl}}/assets/images/photography/banner.png">
		</a>	
	</div>

	<div id="photo-navBar">

		<div class="photo-nav">
			<a href="{{ site.baseurl }}/photo-gallery">
				<span>&#10096; Gallery &#10097;</span>
			</a>
		</div>

		<div class="photo-nav" id="photoDD">
			<span>&#10096; Recurring Themes &#10097;</span>

			<div id="photoDDsets">
				{% for set in sets %}
				<a href="{{ site.baseurl }}{{ set.url }}">{{ set.title }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div id="photo-mobileHeader">	

	<div id="photo-mobileBanner">
		<a href="{{ site.baseurl }}/photography">
			<img id="photo-mobileBannerIMG" src="{{site.baseurl}}/assets/images/photography/banner-mobile.png">
		</a>
	</div>

	<div id="photo-navBar">

		<div class="photo-nav">
			<a href="{{ site.baseurl }}/photo-gallery">
				<span>&#10096; Gallery &#10097;</span>
			</a>
		</div>

		<div class="photo-nav" id="photoDD">
			<span>&#10096; Recurring Themes &#10097;</span>

			<div id="photoDDsets">
				{% for set in sets %}
				<a href="{{ site.baseurl }}{{ set.url }}">{{ set.title }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	
	body{
		background-color: #1a1a1a;
	}
	#header-bar{
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: left;
		background-color: black;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#photo-mobileHeader{
		display: none;
	}

	#header-banner{
		width: 30%;
	}

	#header-bannerIMG{
		padding-left: 1%;
		width: 100%;
	}

	@media only screen and (max-width: 420px){
		#header-bar{
			display: none;
		}

		#photo-mobileHeader{
			display: block;
			margin: 0 auto;
			margin-top: 15px;
			width: 90%;
			text-align: center;
		}

		#photo-mobileBanner{
			width: 100%;
		}

		#photo-mobileBannerIMG{
			width: 100%;
		}

		#photo-navBar{
			justify-content: space-around;
			width: 70%;
		}
	}

</style>
{% endif %}