body{
	background-color: #FFFFFF;
	font-size: 10px;
	height: 100%;
}

#content-flex{
	display: flex;
	flex-direction: column;
}

#content{
	flex: 1 0 auto;
}

#footer{
	flex-shrink: 0;
}

a {
	text-decoration: none;
}

@font-face{
	font-family: 'steagisler';	
	src: url('fonts/Steagisler.otf');
}

@font-face{
	font-family: 'early_gameboy';	
	src: url('fonts/Early_GameBoy.otf');
}

/**
---------------------------------SW Homepage---------------------------------
**/

#home-banner{
	text-align: center;
	margin: auto 0;
	margin-top: 40px;
	margin-bottom: 60px;
}

@media only screen and (max-width: 420px){
	#home-banner{
		margin-top: 30px;
		margin-bottom: 40px;
	}
}
#home-bannerImg{
	width: 20%;
}

@media only screen and (max-width: 420px) {
	#home-bannerImg{
		width: 90%;
	}
}

#home-triContainer{
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

@media only screen and (max-width: 420px) {
	#home-triContainer{
		display: none;
	}
}

.home-triButton{
	text-align: center;
	margin: 10px;
}

#home-modelButtonImg{
	width: 100%;
	transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-webkit-backface-visibility: hidden;
	opacity: 0.9;
}

#home-modelButtonImg:hover{
	opacity: 1;
}

#home-photoButtonImg{
	width: 100%;
	transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-webkit-backface-visibility: hidden;
	opacity: 0.9;		
}

#home-photoButtonImg:hover{
	opacity: 1;
}

#home-bsrButtonImg{
	width: 100%;
	transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-webkit-backface-visibility: hidden;
	opacity: 0.9;	
}

#home-bsrButtonImg:hover{
	opacity: 1;
}

#home-mobileTri {
	display: none;
}

@media only screen and (max-width: 420px) {
	#home-mobileTri{
		width: 60%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
}

.home-MobileTriButton{
	text-align: center;
	margin: 10px;
}

#home-modelButtonImgSmall{
	width: 100%;
	border-radius: 5px;
}

#home-photoButtonImgSmall{
	width: 100%;
	border-radius: 5px;
}

#home-bsrButtonImgSmall{
	width: 100%;
	border-radius: 5px;
}

#home-navContainer{
	width: 40%;
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
}

#home-mobileNav{
	display: none;
}

#home-blog{
	padding: 0 20px;
	border-left-style: solid;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; 

}

.home-navButton{
	padding: 0 20px;
	border-left-style: solid;

}

#home-contact{
	padding: 0 20px;
	border-left-style: solid;
	border-right-style: solid;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 
}

.home-navText{
	font-family: helvetica;
	font-weight: bold;
	font-size: 1.0vw;
	text-transform: uppercase;
}

a .home-navText{
	color: #000000;
}

.home-navText:hover{
	color: #aa0000;
}

@media only screen and (max-width: 420px){
	#home-navContainer{
		display: none;
	}

	#home-mobileNav{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	}
}

#home-mNavIconBlog{
	border-left-style: solid;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; 
}

.home-mNavIcon{
	border-left-style: solid;
}

#home-mNavIconContact{
	border-left-style: solid;
	border-right-style: solid;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 
}

.home-mNavIconImg{
	width: 50%;
}

/**
---------------------------------Model Works Homepage---------------------------------
**/

.mw-preload{
	display: none;
}

#mw-container{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}

@media only screen and (max-width: 420px){
	#mw-container{
		flex-direction: column;
		align-items: center;
	}
}

#mw-featuredContainer{
	box-sizing: border-box;
	width: 40%;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 15px;
	margin-top: 30px;
	border-color: #CCCCCC;
	background-color: white;
}

@media only screen and (max-width: 420px){
	#mw-featuredContainer{
		width: 90%;
		margin-top: 20px;

	}
}

#mw-featuredContainer:hover{
	border-color: black;
}

#mw-featuredText{
	font-family: steagisler;
	font-size: 1.9vw;
	text-transform: uppercase;
}

a #mw-featuredText{
	color: #4a4a4a;
}

@media only screen and (max-width: 420px){
	#mw-featuredText{
		font-size: 7vw;
	}
}

#mw-jumbotron{
	text-align: center;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
	padding: 15px;
	background-color: #BBBBBB;
}

#mw-jumboIMG{
	width: 80%;
}

#mw-featTitle{
	font-family: steagisler;
	font-size: 1.6vw;
	text-transform: uppercase;
	padding-top: 10px;	
}

a #mw-featTitle{
	color: #4a4a4a;
}

@media only screen and (max-width: 420px){
	#mw-featTitle{
		font-size: 5vw;
	}
}

#mw-featScale{
	font-family: steagisler;
	font-size: 1.5vw;
	text-transform: uppercase;
	padding-top: 10px;
}

a #mw-featScale{
	color: #4a4a4a;	
}

@media only screen and (max-width: 420px){
	#mw-featScale{
		font-size: 4.5vw;
	}
}

#mw-featBlurb{
	font-family: helvetica;
	font-size: 1.3vw;
}

a #mw-featBlurb{
	color: #4a4a4a;
}

@media only screen and (max-width: 420px){
	#mw-featBlurb{
		font-size: 4vw;
	}
}

#mw-gallery{
	box-sizing: border-box;
	width: 45%;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 15px;
	margin-top: 30px;
	border-color: #CCCCCC;
	background-color: white;
	margin-left: 30px;
}

@media only screen and (max-width: 420px){
	#mw-gallery{
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
	}
}

#mw-galleryHeading{
	font-family: steagisler;
	font-size: 1.7vw;
	text-transform: uppercase;
	color: #4a4a4a;	
}

@media only screen and (max-width: 420px){
	#mw-galleryHeading{
		font-size: 6.8vw;
	}
}

#mw-galleryContainer{
	text-align: center;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
	padding: 15px;
	background-color: #BBBBBB;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;	
}

@media only screen and (max-width: 420px){
	#mw-galleryContainer{
		padding: 0px;
	}
}

.mw-galleryItem{
	text-align: center;
	width: 100%;
	padding: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB;
	border-radius: 5px;
	background-color: white;
	margin: 15px;
}

.mw-galleryItem:hover{
	border-color: black;
}

.mw-itemPreview{
	width: 90%;
}

.mw-itemTitle{
	font-family: steagisler;
	font-size: 1.5vw;
	text-transform: uppercase;
	padding-top: 5px;
}

a .mw-itemTitle{
	color: #4a4a4a;
}

@media only screen and (max-width: 420px){
	.mw-itemTitle{
		font-size: 5vw;
	}
}

/**
---------------------------------Model Works Post---------------------------------
**/

#mw-postInfo{
	width: 50%;
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 15px;
	margin-top: 30px;
	border-color: #CCCCCC;
	background-color: white;
	color: #4a4a4a;
}

@media only screen and (max-width: 420px){
	#mw-postInfo{
		width: 80%;
	}
}

#mw-postTitle{
	font-family: steagisler;
	font-size: 2.6vw;
	text-transform: uppercase;
	padding-top: 10px;
	color: #4a4a4a;	
	text-align: center;
}

@media only screen and (max-width: 420px){
	#mw-postTitle{
		font-size: 7vw;
	}
}

#mw-postScale{
	font-family: steagisler;
	font-size: 1.7vw;
	text-transform: uppercase;
	padding-top: 10px;
	color: #4a4a4a;
	text-align: center;
}

@media only screen and (max-width: 420px){
	#mw-postScale{
		font-size: 5.5vw;
	}
}

#mw-postBlurb{
	font-family: helvetica;
	font-size: 1.5vw;
	color: #4a4a4a;
}

@media only screen and (max-width: 420px){
	#mw-postBlurb{
		font-size: 4.5vw;
	}
}

#mw-postGallery{
	box-sizing: border-box;
	max-width: 80%;
	position: relative;
	margin: auto;
	margin-top: 30px;
	background-color: #BBBBBB;
	padding: 20px; 
	border-radius: 10px;
}

@media only screen and (max-width: 420px){
	#mw-postGallery{
		max-width: unset;
	}
}

.mw-postSlide{
	box-sizing: border-box;
	text-align: center;
	display: none;
	width: 100%;
}

.mw-slideNum{
	font-family: helvetica;
	font-size: 25px;
	background-color: rgba(100,100,100,0.8);
	font-weight: bold;
	border-radius: 0 0 5px 5px;
}

.prev{
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	left: 0; 
	background-color: rgba(100,100,100,0.8);
}

.next{
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	right: 0;
	border-radius: 3px 0 0 3px;
	background-color: rgba(100,100,100,0.8);
}

.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}

.mw-slideNum{
	box-sizing: border-box;
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.mw-slideIMG{
	text-align: center;
	margin: 0 auto;
	height: 35vw;
	max-height: 35vw;
	max-width: 80vw;
}

@media only screen and (max-width: 420px){
	.mw-slideIMG{
		height: 80vw;
		max-height: 45vw;
		max-width: 190vw;
	}
}

.dot{
	box-sizing: border-box;
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;

	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}

/**
---------------------------------Photography Navbar---------------------------------
**/

#photo-navBar{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.photo-nav{
	font-family: steagisler;
	font-size: 1.5vw;
	text-transform: uppercase;
	color: #ffab18;
	padding: 2vw;
	cursor: pointer;
}

.photo-nav a{
	color: #ffab18;
}

.photo-nav:hover{
	background-color: #333333;
}

#photoDD{
	position: relative;
	display: inline-block;
}

#photoDDsets{
	display: none;
	position: absolute;
	background-color: #1a1a1a;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
	z-index: 1;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin-top: 10px;	
}

#photoDDsets a{
	color: white;
	padding: 12px 16px;
	display: block;
	font-size: 1.2vw;
}

#photoDD:hover #photoDDsets{
	display: block;
}

#photoDDsets a:hover {
	background-color: black;
	color: #ffab18;
}

/**
---------------------------------Photography Home---------------------------------
**/

#swp-recentContainer{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#swp-recentText{
	text-align: left;
	margin-top: 30px;
	margin-left: 15%;
	margin-bottom: 30px;
	font-family: steagisler;
	font-size: 1.5vw;
	color: #ffab18;
	text-transform: uppercase;
}

#swp-recentText span{
	background-color: black;
	padding: 10px;
}

#swp-recentGallery{
	box-sizing: border-box;
	width: 75%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
}

.swp-recentItem{
	width: 24%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.swp-recentItem:hover{
	border-color: #ffab18;
}


.swp-recentThumb{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#swp-linkGallery{
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: steagisler;
	font-size: 1.3vw;
	text-transform: uppercase;
}

#swp-linkGallery span{
	background-color: black;
	padding: 10px;
}

#swp-linkGallery a{
	color: white;
}

#swp-linkGallery:hover span{
	color: #ffab18;
	background-color: #333333;
}

/**
---------------------------------Modal (not model!) Photo Gallery---------------------------------
**/

#photo-modalContainer{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	overflow: auto;
  	background-color: rgba(10,10,10,0.8);
}

.photo-modalContent{
	position: relative;
  	background-color: #fefefe;
  	margin: auto;
  	padding: 0;
  	width: 70%;
}

.photo-modalSlide{
	display: none;
	text-align: center;
	background-color: black;
}

.photo-modalIMG{
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	height: 33vw;
	max-height: 33vw;
	max-width: 80vw;
}

.photo-modalInfo{
	display: flex;
	height: 3vw;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: black;
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
}

.photo-modalCaption{
	font-size: 15px;
	font-family: helvetica;
	background-color: #1a1a1a;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	margin-left: 15px;
	width: 70%;
}

.photo-modalSet{
	font-size: 12px;
	font-family: helvetica;
	background-color: #1a1a1a;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 5px;
	margin-left: 15px;
	width: 20%;
	margin-right: 15px;
}

.photo-modalSet a{
	color: #ffab18;
}

.photo-modalPrev,
.photo-ModalNext {
  	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	width: auto;
  	padding: 16px;
  	margin-top: -50px;
  	color: white;
  	font-weight: bold;
  	font-size: 20px;
}

.photo-ModalNext {
  	right: 0;
}

.photo-modalPrev:hover,
.photo-ModalNext:hover {
	color: #ffab18;
}

.photo-modalExit{
	color: white;
  	position: absolute;
  	top: 10px;
  	right: 25px;
  	font-size: 35px;
  	font-weight: bold;
  	cursor: pointer;
}

.photo-modalExit:hover{
	color: #ffab18;
}

#photoset-title{
	text-align: left;
	margin-top: 30px;
	margin-left: 20%;
	margin-bottom: 30px;
	font-family: steagisler;
	font-size: 3vw;
	color: white;
	text-transform: uppercase;
}

#photoset-title span{
	background-color: black;
	padding: 10px;
}

#photoset-desc{
	width: 60%;
	margin: auto;
	font-size: 16px;
	font-family: helvetica;
	color: white;
	margin-top: 15px;
	margin-bottom: 15px;

}

/**
---------------------------------Site Footer---------------------------------
**/

#footer-container{
	margin-top: 50px;
  	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: .1%;
	border-radius: 5px;
}

#footer-home{
	width: 3.5vw;
}

.footer-btn{
	font-family: helvetica;
	font-size: .7vw;
	text-transform: uppercase;
	border-width: 0px;
	border-radius: 5px;
	padding: 1vw;
}

.footer-btn span{
	padding: 5px;
}

.footer-btn-main{
	font-family: steagisler;
	font-size: 1vw;
	text-transform: uppercase;
	border-width: 0px;
	border-radius: 5px;
	padding: 1vw;
}

.footer-btn-main span{
	padding: 5px;
}

#mobile-footer{
	display: none;
}

@media only screen and (max-width: 420px){

	#footer-container{
		display: none;
	}
	
	#mobile-footer{
		display: flex;
		flex-direction: column;
		width: 90%;
		text-align: center;
		margin: 0 auto;
		margin-top: 7vw;
	}
}

#mobile-footer-main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
	padding-bottom: 3vw;
	border-radius: 5px;
	padding-top: 2vw;
}

#mobile-footer-sub{
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: space-around;
	margin: 0 auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom: 2vw;
}

.mob-footer-main-item{
	width: 14%;
}

.mob-footer-main-icon{
	width: 100%;
}

.mob-footer-sub-item{
	width: 10%;
}

.mob-footer-sub-icon{
	width: 100%;
}

/**
---------------------------------Resume Page--------------------------------
**/

#res-header{
	text-align: center;
	margin: 0 auto;
	min-height: 100vh;
}

#res-logoIMG{
	width: 60%;
	margin-top: 7vw;
}

@media only screen and (max-width: 420px){
	#res-logoIMG{
		width: 90%;
		margin-top: 50%
	}
}

#res-tagline{
	font-family: steagisler;
	font-size: 2vw;
	margin-top: 3vw;
	text-transform: uppercase;
}

@media only screen and (max-width: 420px){
	#res-tagline{
		font-size: 4vw;
	}
}

#header-nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	margin-top: 5vw;

}

@media only screen and (max-width: 420px){
	#header-nav{
		margin-top: 16vw;
		width: 50vw;
		flex-direction: column;
	}
}

.res-nav{
	font-size: 2.5vw;
	font-family: steagisler;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: black;
	margin: 0 1.5vw;  
}

.res-nav a{
	color: black;
}

.res-nav:hover a{
	color: #aa0000;
}

.res-nav:hover{
	border-bottom-color: #aa0000;
}

@media only screen and (max-width: 420px){
	.res-nav{
		font-size: 7vw;
		margin-bottom: 10vw;
		border-bottom-style: none;
	}

	.res-nav a{
		border-bottom-style: solid;
		border-bottom-width: 5px;
		color: black;
	}
}

#res-projects{
	text-align: center;
	padding-top: 1.5vw;
}

#res-history{
	text-align: center;
	margin-top: 25%;
	padding-top: 1.5vw;
}

#res-contact{
	text-align: center;
	margin-top: 25%;
	padding-top: 1.5vw;
}

@media only screen and (max-width: 420px){
	#res-projects, #res-history, #res-contact{
		padding-top: 10vw;
	}
}

.section-IMG{
	height: 7vw;
}

@media only screen and (max-width: 420px){
	.section-IMG{
		height: 13vw;
	}
}

.section-tagline{
	margin-top: 30px;
	font-family: steagisler;
	font-size: 1.3vw;
	text-transform: uppercase;
}

@media only screen and (max-width: 420px){
	.section-tagline{
		font-size: 4.3vw;
	}
}

.res-pj{
	margin-top: 5vw;
	text-align: center;
}

.pj-logo{
	width: 40%;
}

@media only screen and (max-width: 420px){
	.pj-logo{
		width: 85%;
	}
}

.pj-titlebar{
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	border-style: solid;
	border-color: #d8d9dc;
	border-width: 2px;
	padding: 15px;
	cursor: pointer;
	border-radius: 5px;
}

@media only screen and (max-width: 420px){
	.pj-titlebar{
		width: 80%;
		flex-direction: column;
	}
}

.pj-titlebar:hover{
	border-color: #aa0000;
}

.pj-title{
	font-family: steagisler;
	font-size: 1.5vw;
	text-transform: uppercase;
}

@media only screen and (max-width: 420px){
	.pj-title{
		font-size: 5vw;
		margin-top: 2vw;
	}
}

.pj-gallery{
	width: 90%;
	margin: 0 auto;
	background-color: #d8d9dc;
	border-width: 0px;
	border-radius: 5px;
}

@media only screen and (max-width: 420px){
	.pj-gallery{
		width: 100%;
	}
}

.pj-modelSlide{
	box-sizing: border-box;
	text-align: center;
	display: none;
	width: 100%;	
}

.pj-photoSlide{
	box-sizing: border-box;
	text-align: center;
	display: none;
	width: 100%;	
}

.pj-bsrSlide{
	box-sizing: border-box;
	text-align: center;
	display: none;
	width: 100%;	
}

.pj-sonSlide{
	box-sizing: border-box;
	text-align: center;
	display: none;
	width: 100%;	
}

.pj-howlSlide{
	box-sizing: border-box;
	text-align: center;
	display: none;
	width: 100%;	
}

.pj-gateSlide{
	box-sizing: border-box;
	text-align: center;
	display: none;
	width: 100%;	
}

.pj-slidecont{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (max-width: 420px){
	.pj-slidecont{
		flex-wrap: wrap;
		justify-content: center;
	}
}

.pj-slideNum{
	font-family: helvetica;
	background-color: rgba(100,100,100,0.8);
	font-weight: bold;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: relative;
	top: 0;
	margin: 0 auto;
	width: 80px;
}

@media only screen and (max-width: 420px){
	.pj-slideNum{
		font-size: 4vw;
	}
}

.pj-slideIMG{
	text-align: center;
	margin: 0 auto;
	height: 21vw;
	max-height: 21vw;
	max-width: 46vw;
	padding-top: 30px;
	padding-bottom: 10px;
}

@media only screen and (max-width: 420px){
	.pj-slideIMG{
		width: 100%;
		max-width: unset;
		max-height: unset;
		height: unset;
	}
}

.pj-prev, .pj-next{
	cursor: pointer;
  	padding: 16px;
  	color: white;
  	font-weight: bold;
  	font-size: 20px;
  	background-color: rgba(100,100,100,0.8);
  	border-radius: 5px;
  	margin: 5px;
}

.mob-pj-prev, .mob-pj-next{
	display: none;
}

@media only screen and (max-width: 420px){
	.mob-pj-prev, .mob-pj-next{
		cursor: pointer;
  		padding: 16px;
  		color: white;
  		font-weight: bold;
  		font-size: 20px;
  		background-color: rgba(100,100,100,0.8);
  		border-radius: 5px;
  		margin: 5px;
  		display: block;
	}

	.pj-prev, .pj-next{
		display: none;
	}
}

.pj-prev:hover, .pj-next:hover{
	background-color: rgba(0,0,0,0.8);
}

.pj-caption{
	font-family: helvetica;
	font-size: 1vw;
	width: 80%;
	margin: 0 auto;
	padding: 15px;
	margin-bottom: 15px;
	background-color: white;
	border-radius: 5px;
}

@media only screen and (max-width: 420px){
	.pj-caption{
		font-size: 4vw;
	}
}

.pj-blurb{
	box-sizing: border-box;
	font-size: 1vw;
	font-family: helvetica;
	padding: 30px;
	background-color: #d8d9dc;
	border-radius: 5px;
	width: 80%;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.pj-blurb a{
	color: #aa0000;
}

@media only screen and (max-width: 420px){
	.pj-blurb{
		width: 95%;
		font-size: 4vw;
		padding: 1.5vw;
	}
}

.pj-external{
	margin: 0 auto;
	font-size: 1.0vw;
	font-family: steagisler;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 5px;
	background-color: #aa0000;
	width: 20%;
}

@media only screen and (max-width: 420px){
	.pj-external{
		width: 50%;
		font-size: 5vw;
	}
}

.pj-external a{
	color: white;
	display: block;
	padding: 15px;
}

.pj-external:hover a{
	color: #aa0000;
}

.pj-external:hover{
	background-color: white;
	border-color: #aa0000;
}

.res-pj{
	max-height: 0px;
	transition:max-height 1s ease-out;
}

.pj-open{
	max-height: 1500px;
}

#pj-model-hide{
	box-sizing: border-box;
	background-color: #aaabad;
	border-width: 0px;
	border-radius: 0 0 5px 5px;
	width: 61%;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

#pj-photo-hide{
	box-sizing: border-box;
	background-color: #aaabad;
	border-width: 0px;
	border-radius: 0 0 5px 5px;
	width: 61%;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

#pj-bsr-hide{
	box-sizing: border-box;
	background-color: #aaabad;
	border-width: 0px;
	border-radius: 0 0 5px 5px;
	width: 61%;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

#pj-son-hide{
	box-sizing: border-box;
	background-color: #aaabad;
	border-width: 0px;
	border-radius: 0 0 5px 5px;
	width: 61%;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

#pj-howl-hide{
	box-sizing: border-box;
	background-color: #aaabad;
	border-width: 0px;
	border-radius: 0 0 5px 5px;
	width: 61%;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

#pj-gate-hide{
	box-sizing: border-box;
	background-color: #aaabad;
	border-width: 0px;
	border-radius: 0 0 5px 5px;
	width: 61%;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}

@media only screen and (max-width: 420px){
	#pj-model-hide, #pj-photo-hide, #pj-bsr-hide, #pj-son-hide, #pj-howl-hide, #pj-gate-hide{
		width: 87%;
	}
}

#pj-models, #pj-photog, #pj-bsr, #pj-SWapp, #pj-howl, #pj-investigate {
	margin-top: 90px; 
}

@media only screen and (max-width: 420px){
	#pj-models, #pj-photog, #pj-bsr, #pj-SWapp, #pj-howl, #pj-investigate{
		margin-top: 8vw;
	}
}

.hist-item{
	box-sizing: border-box;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	border-color: #d8d9dc;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	background-color: #d8d9dc;
	margin-top: 90px;
}

@media only screen and (max-width: 420px){
	.hist-item{
		margin-top: 8vw;
		width: 90%;
	}
}

.hist-titlebar{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin: 0 auto;
	background-color: white;
	border-radius: 5px;
	padding: 15px;
}

@media only screen and (max-width: 420px){
	.hist-titlebar{
		flex-direction: column;
		justify-content: center;
	}
}

.hist-graphic{
	width: 12vw;
}

@media only screen and (max-width: 420px){
	.hist-graphic{
		width: 40vw;
	}
}

.hist-title{
	font-family: steagisler;
	font-size: 1.5vw;
	text-transform: uppercase;
}

@media only screen and (max-width: 420px){
	.hist-title{
		font-size: 7vw;
		margin-top: 2vw;
	}
}

.hist-date{
	font-family: steagisler;
	font-size: 1.2vw;
	text-transform: uppercase;
}

@media only screen and (max-width: 420px){
	.hist-date{
		font-size: 5vw;
		margin-top: 2vw;
	}
}

.hist-blurb{
	width: 80%;
	font-size: 1vw;
	font-family: helvetica;
	margin: 0 auto;
	padding: 30px;
	border-radius: 5px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.hist-blurb a{
	color: #aa0000;
}

@media only screen and (max-width: 420px){
	.hist-blurb{
		padding: unset;
		font-size: 4.3vw;
	}
}

#contact-bar{
	width: 60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;
}

@media only screen and (max-width: 420px){
	#contact-bar{
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 10vw;
	}
}

.contact-item{
	box-sizing: border-box;
	width: 20%;
	padding:20px;
	margin:20px;
	border-style: solid;
	border-width: 3px;
	border-color: #4a4a4a;
	border-radius: 10px;
	color: #4a4a4a;
}

.contact-item a{
	color: #4a4a4a;
}

@media only screen and (max-width: 420px){
	.contact-item{
		box-sizing: unset;
		width: 30%;
		margin: 2vw;
		border-width: 1vw;
	}
}

.contact-ext{
	border-color: #aa0000;
}

.contact-ext:hover{
	background-color: #e3b3b3;
}

.contact-graphic{
	width: 50%;
}

@media only screen and (max-width: 420px){
	.contact-graphic{
		padding: 2vw 0;
	}
}

.contact-label{
	font-family: steagisler;
	font-size: 1.4vw;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 15px;
}

@media only screen and (max-width: 420px){
	.contact-label{
		font-size: 5vw;
		padding: 3vw 0;
	}
}

.contact-info{
	font-family: steagisler;
	text-transform: uppercase; 
	font-size: 1.0vw;
}

@media only screen and (max-width: 420px){
	.contact-info{
		font-size: 4vw;
	}
}

#res-contact{
	margin-bottom: 220px;
}

@media only screen and (max-width: 420px){
	#res-contact{
		min-height: 100vh;
		margin-bottom: unset;
	}
}

/**
---------------------------------Analog Blog---------------------------------
**/

#blog-container{

}

#blog-list{
	width: 65%;
	margin: 0 auto;
}

.blog-entry-container{
	
}

.blog-entry-show{
	max-height: 50000px;
	transition:max-height 1s ease-out;
}

.blog-header-open{
	border-radius: 6px 6px 0 0;
}



.blog-entry-header{
	background-color: NavajoWhite;
	display: flex;
	padding: 2%;
	border-radius: 6px;
}

.blog-entry-title{
	font-size: 1vw;
	font-family: early_gameboy;
	width: 33%;
	text-align: center;
}

.blog-entry-date{
	font-size: 1vw;
	font-family: early_gameboy;
	width: 33%;
}

.blog-entry-length{
	font-size: 1vw;
	font-family: early_gameboy;
	width: 33%;
	text-align: end;
}

.blog-page-container{
	background-color: BurlyWood;
	transition:max-height 1s ease-out;
	overflow: hidden;
	max-height: 0px;
}

.blog-page{
	position: relative;
	padding: 2%;
}

.page-img{
	width: 100%;
}

.blog-entry-permalink{
	
}


