body{
	background-color: #FFFFFF;
	font-size: 10px;
	height: 100%;
}

#content-flex{
	display: flex;
	flex-direction: column;
}

#content{
	flex: 1 0 auto;
}

#footer{
	flex-shrink: 0;
}

a {
	text-decoration: none;
}

@font-face{
	font-family: 'steagisler';	
	src: url('fonts/Steagisler.otf');
}


/**
---------------------------------SW Homepage---------------------------------
**/

#home-banner{
	text-align: center;
	margin: auto 0;
	margin-top: 40px;
	margin-bottom: 60px;
}

#home-bannerImg{
	width: 20%;
}

#home-triContainer{
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.home-triButton{
	text-align: center;
	margin: 10px;
}

#home-modelButtonImg{
	width: 100%;
	transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-webkit-backface-visibility: hidden;
	opacity: 0.9;
}

#home-modelButtonImg:hover{
	opacity: 1;
}

#home-photoButtonImg{
	width: 100%;
	transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-webkit-backface-visibility: hidden;
	opacity: 0.9;		
}

#home-photoButtonImg:hover{
	opacity: 1;
}

#home-bsrButtonImg{
	width: 100%;
	transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-webkit-backface-visibility: hidden;
	opacity: 0.9;	
}

#home-bsrButtonImg:hover{
	opacity: 1;
}

#home-navContainer{
	width: 40%;
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
}

#home-blog{
	padding: 0 20px;
	border-left-style: solid;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; 

}

.home-navButton{
	padding: 0 20px;
	border-left-style: solid;

}

#home-contact{
	padding: 0 20px;
	border-left-style: solid;
	border-right-style: solid;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 
}

.home-navText{
	font-family: helvetica;
	font-weight: bold;
	font-size: 0.8vw;
	text-transform: uppercase;
}

a .home-navText{
	color: #000000;
}

.home-navText:hover{
	color: #aa0000;
}


/**
---------------------------------Model Works Homepage---------------------------------
**/

.mw-preload{
	display: none;
}

#mw-container{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}

#mw-featuredContainer{
	box-sizing: border-box;
	width: 40%;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 15px;
	margin-top: 30px;
	border-color: #CCCCCC;
	background-color: white;
}

#mw-featuredContainer:hover{
	border-color: black;
}

#mw-featuredText{
	font-family: steagisler;
	font-size: 1.7vw;
	text-transform: uppercase;
}

a #mw-featuredText{
	color: #4a4a4a;
}

#mw-jumbotron{
	text-align: center;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
	padding: 15px;
	background-color: #BBBBBB;
}

#mw-jumboIMG{
	width: 80%;
}

#mw-featTitle{
	font-family: steagisler;
	font-size: 1.2vw;
	text-transform: uppercase;
	padding-top: 10px;	
}

a #mw-featTitle{
	color: #4a4a4a;
}

#mw-featScale{
	font-family: steagisler;
	font-size: 1.0vw;
	text-transform: uppercase;
	padding-top: 10px;
}

a #mw-featScale{
	color: #4a4a4a;	
}

#mw-featBlurb{
	font-family: helvetica;
	font-size: 1.0vw;
}

a #mw-featBlurb{
	color: #4a4a4a;
}

#mw-gallery{
	box-sizing: border-box;
	width: 40%;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 15px;
	margin-top: 30px;
	border-color: #CCCCCC;
	background-color: white;
	margin-left: 30px;
}

#mw-galleryHeading{
	font-family: steagisler;
	font-size: 1.5vw;
	text-transform: uppercase;
	color: #4a4a4a;	
}

#mw-galleryContainer{
	text-align: center;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
	padding: 15px;
	background-color: #BBBBBB;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;	
}

.mw-galleryItem{
	text-align: center;
	width: 40%;
	padding: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB;
	border-radius: 5px;
	background-color: white;
	margin: 15px;
}

.mw-galleryItem:hover{
	border-color: black;
}

.mw-itemPreview{
	width: 90%;
}

.mw-itemTitle{
	font-family: steagisler;
	font-size: 1vw;
	text-transform: uppercase;
	padding-top: 5px;
}

a .mw-itemTitle{
	color: #4a4a4a;
}

/**
---------------------------------Model Works Post---------------------------------
**/

#mw-postInfo{
	width: 50%;
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 15px;
	margin-top: 30px;
	border-color: #CCCCCC;
	background-color: white;
	color: #4a4a4a;
}

#mw-postTitle{
	font-family: steagisler;
	font-size: 1.8vw;
	text-transform: uppercase;
	padding-top: 10px;
	color: #4a4a4a;	
	text-align: center;
}

#mw-postScale{
	font-family: steagisler;
	font-size: 1.25vw;
	text-transform: uppercase;
	padding-top: 10px;
	color: #4a4a4a;
	text-align: center;
}

#mw-postBlurb{
	font-family: helvetica;
	font-size: 1.0vw;
	color: #4a4a4a;
}

#mw-postGallery{
	box-sizing: border-box;
	max-width: 70%;
	position: relative;
	margin: auto;
	margin-top: 30px;
	background-color: #BBBBBB;
	padding: 20px; 
	border-radius: 10px;
}

.mw-postSlide{
	box-sizing: border-box;
	text-align: center;
	display: none;
	width: 100%;
}

.mw-slideNum{
	font-family: helvetica;
	font-size: 25px;
	background-color: rgba(100,100,100,0.8);
	font-weight: bold;
	border-radius: 0 0 5px 5px;
}

.prev{
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	left: 0; 
	background-color: rgba(100,100,100,0.8);
}

.next{
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	right: 0;
	border-radius: 3px 0 0 3px;
	background-color: rgba(100,100,100,0.8);
}

.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}

.mw-slideNum{
	box-sizing: border-box;
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.mw-slideIMG{
	text-align: center;
	margin: 0 auto;
	height: 35vw;
	max-height: 35vw;
	max-width: 80vw;
}

.dot{
	box-sizing: border-box;
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;

	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}

/**
---------------------------------Photography Navbar---------------------------------
**/

#photo-navBar{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.photo-nav{
	font-family: steagisler;
	font-size: 1.5vw;
	text-transform: uppercase;
	color: #ffab18;
	padding: 15px;
	cursor: pointer;
}

.photo-nav span{
	height: 70px;
}

.photo-nav a{
	color: #ffab18;
}

.photo-nav:hover{
	background-color: #333333;
}

#photoDD{
	position: relative;
	display: inline-block;
}

#photoDDsets{
	display: none;
	position: absolute;
	background-color: #1a1a1a;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
	z-index: 1;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin-top: 10px;	
}

#photoDDsets a{
	color: white;
	padding: 12px 16px;
	display: block;
	font-size: 1.2vw;
}

#photoDD:hover #photoDDsets{
	display: block;
}

#photoDDsets a:hover {
	background-color: black;
	color: #ffab18;
}

/**
---------------------------------Photography Home---------------------------------
**/

#swp-recentContainer{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#swp-recentText{
	text-align: left;
	margin-top: 30px;
	margin-left: 15%;
	margin-bottom: 30px;
	font-family: steagisler;
	font-size: 1.5vw;
	color: #ffab18;
	text-transform: uppercase;
}

#swp-recentText span{
	background-color: black;
	padding: 10px;
}

#swp-recentGallery{
	box-sizing: border-box;
	width: 75%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
}

.swp-recentItem{
	width: 24%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.swp-recentItem:hover{
	border-color: #ffab18;
}


.swp-recentThumb{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#swp-linkGallery{
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: steagisler;
	font-size: 1.3vw;
	text-transform: uppercase;
}

#swp-linkGallery span{
	background-color: black;
	padding: 10px;
}

#swp-linkGallery a{
	color: white;
}

#swp-linkGallery:hover span{
	color: #ffab18;
	background-color: #333333;
}

/**
---------------------------------Modal (not model!) Photo Gallery---------------------------------
**/

#photo-modalContainer{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	overflow: auto;
  	background-color: rgba(10,10,10,0.8);
}

.photo-modalContent{
	position: relative;
  	background-color: #fefefe;
  	margin: auto;
  	padding: 0;
  	width: 70%;
}

.photo-modalSlide{
	display: none;
	text-align: center;
	background-color: black;
}

.photo-modalIMG{
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	height: 33vw;
	max-height: 33vw;
	max-width: 80vw;
}

.photo-modalInfo{
	display: flex;
	height: 3vw;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: black;
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
}

.photo-modalCaption{
	font-size: 15px;
	font-family: helvetica;
	background-color: #1a1a1a;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	margin-left: 15px;
	width: 70%;
}

.photo-modalSet{
	font-size: 12px;
	font-family: helvetica;
	background-color: #1a1a1a;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 5px;
	margin-left: 15px;
	width: 20%;
	margin-right: 15px;
}

.photo-modalSet a{
	color: #ffab18;
}

.photo-modalPrev,
.photo-ModalNext {
  	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	width: auto;
  	padding: 16px;
  	margin-top: -50px;
  	color: white;
  	font-weight: bold;
  	font-size: 20px;
}

.photo-ModalNext {
  	right: 0;
}

.photo-modalPrev:hover,
.photo-ModalNext:hover {
	color: #ffab18;
}

.photo-modalExit{
	color: white;
  	position: absolute;
  	top: 10px;
  	right: 25px;
  	font-size: 35px;
  	font-weight: bold;
  	cursor: pointer;
}

.photo-modalExit:hover{
	color: #ffab18;
}

#photoset-title{
	text-align: left;
	margin-top: 30px;
	margin-left: 20%;
	margin-bottom: 30px;
	font-family: steagisler;
	font-size: 3vw;
	color: white;
	text-transform: uppercase;
}

#photoset-title span{
	background-color: black;
	padding: 10px;
}

/**
---------------------------------Site Footer---------------------------------
**/

#footer-container{
	margin-top: 50px;
  	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
}

#footer-home{
	height: 35px;
}

.footer-btn{
	font-family: helvetica;
	font-size: 14px;
	height: 35px;
	text-transform: uppercase;
	line-height: 35px;
}

.footer-btn span{
	padding: 5px;
}

.footer-btn .main{
	font-family: steagisler;
}
