---
layout: wrapper
---

{% assign entries = site.posts | where:"type","blog-post" %}
{% assign pages = site.posts | reverse | where:"type", "blog-img" %}


<div  id="blog-container">

	<div id="blog-list">
		
		{% for entry in entries %}
		<div class="blog-entry-container">
			
			<div id="head_{{ entry.keyword }}" class="blog-entry-header blog-header-closed" onclick="showEntry('entry_{{ entry.keyword }}', 'measure_{{ entry.keyword }}', 'head_{{ entry.keyword }}')">
				
				<div class="blog-entry-date">{{ entry.dateline }}</div>

				<div class="blog-entry-title">{{ entry.title }}</div>
				
				{% if entry.length == "1" %}
				<div class="blog-entry-length">Single Page</div>
				
				{% else %}
				<div class="blog-entry-length">{{ entry.length }} Pages</div>
				{% endif %}
			</div>

			<div id="entry_{{ entry.keyword }}" class="blog-page-container">
				<div id="measure_{{ entry.keyword }}">
				
					{% for page in pages %}
					{% if page.keyword contains entry.keyword %}
					<div class="blog-page">
						<img class="page-img" src="{{page.img-url}}">
						{{ page.content | remove: '<p>' | remove: '</p>' }}

					</div>
					{% endif %}
					{% endfor %}
					
				</div>

				<div class="blog-entry-permalink">

					<a href="{{ site.baseurl }}/{{ entry.url }}">Permalink</a>

				</div>

			</div>

		</div>
		{% endfor %}
		
		<div id="post-it-container" onclick="closePostIt()">
			<p id="post-it-content">placeholder</p>
		</div>

	</div>
	
</div>

<script>
	function showEntry(ent, ent_measure, ent_head) {
		var entry = document.getElementById(ent);
		var measure = document.getElementById(ent_measure);
		var header = document.getElementById(ent_head);
		
		if(entry.clientHeight) {
			entry.style.height = 0;
			header.style.borderRadius = "6px"
		}
		
		else{
			entry.style.height = measure.clientHeight + "px";
			header.style.borderRadius = "6px 6px 0px 0px"
		}
		
	}
	
	function showPostIt(note_text) {
		var postIt = document.getElementById(post-it-container);
		var note = document.getElementById(post-it-content);
		
		note.innerHTML = note_text;	
		postIt.style.display = "block";
	}
	
	function closePostIt() {
		var postIt = document.getElementById(post-it-container);
		var note = document.getElementById(post-it-content);
		
		note.innerHTML = "";	
		postIt.style.display = "none";
	}
		
			
</script>
