---
layout: wrapper
---

{% assign entries = site.posts | where:"type","blog-post" %}
{% assign pages = site.posts | where:"type", "blog-img" %}

<div></div>

<div  id="blog-container">

	<div id="blog-list">
		
		{% for entry in entries %}
		<div class="blog-entry-container">
			
			<div class="blog-entry-header">
				
				<div class="blog-entry-date">{{ entry.dateline }}</div>

				<div class="blog-entry-title">{{ entry.title }}</div>
				
				{% if entry.length == "1" %}
				<div class="blog-entry-length">Single Page</div>
				
				{% else %}
				<div class="blog-entry-length">{{ entry.length }} Pages</div>
				{% endif %}
			</div>

			<div class="blog-page-container">
				
				{% for page in pages %}
				{% if page.keyword contains entry.keyword %}
				<div class="blog-page">
					<img class="page-img" src="{{page.img-url}}">
					{{ page.content | remove: '<p>' | remove: '</p>' }}

				</div>
				{% endif %}
				{% endfor %}

				<div class="blog-entry-permalink">

					<a href="{{ site.baseurl }}/{{ entry.url }}">Permalink</a>

				</div>

			</div>

		</div>
		{% endfor %}

	</div>
	
</div>

<script>
	function showEntry(ent, ent_head) {
		var j;
		var entry = document.getElementById(ent);
		var header = document.getElementById(ent_head);
		
		if (entry.classList.contains("blog-entry-hidden")){
			entry.classList.remove("blog-entry-hidden");
			header.classList.remove("blog-header-closed");
		}
		
		else{
			entry.classlist.add("blog-entry-hidden");
			header.classList.add("blog-header-closed");
		}
	}		
			
</script>
