---
layout: wrapper
---

<div id="home-banner">
	<a href="{{ site.baseurl }}/">
		<img id="home-bannerImg" src="assets/images/general/SW-general-banner.jpg">
	</a>
</div>

<div id="home-triContainer">

	<div class="home-triButton">
		<a href="{{ site.baseurl }}/models">
			<img id="home-modelButtonImg" src="assets/images/general/models-vert-off.jpg" onmouseover="this.src='assets/images/general/models-vert-on.jpg'" onmouseout="this.src='assets/images/general/models-vert-off.jpg'">
		</a>
	</div>

	<div class="home-triButton">
		<a href="{{ site.baseurl }}/photography">
			<img id="home-photoButtonImg" src="assets/images/general/photo-vert-off.jpg" onmouseover="this.src='assets/images/general/photo-vert-on.jpg'" onmouseout="this.src='assets/images/general/photo-vert-off.jpg'">
		</a>
	</div>

	<div class="home-triButton">
		<a href="https://asterisk93.github.io/BiteSizeReviews/">
			<img id="home-bsrButtonImg" src="assets/images/general/bsr-vert-off.jpg" onmouseover="this.src='assets/images/general/bsr-vert-on.jpg'" onmouseout="this.src='assets/images/general/bsr-vert-off.jpg'">
		</a>
	</div>
</div>

<div id="home-mobileTri">

	<div class="home-MobileTriButton">
		<a href="{{ site.baseurl }}/models">
			<img id="home-modelButtonImgSmall" src="assets/images/general/mobile-models.jpg">
		</a>
	</div>

	<div class="home-MobileTriButton">
		<a href="{{ site.baseurl }}/photography">
			<img id="home-photoButtonImgSmall" src="assets/images/general/mobile-photo.jpg">
		</a>
	</div>

	<div class="home-MobileTriButton">
		<a href="https://asterisk93.github.io/BiteSizeReviews/">
			<img id="home-bsrButtonImgSmall" src="assets/images/general/mobile-bsr.jpg">
		</a>
	</div>
</div>

<div id="home-navContainer">
	
	<div id="home-blog">
		<a href="https://twitter.com/asterisk93">
			<span class="home-navText">Twitter</span>
		</a>
	</div>

	<div class="home-navButton">
		<a href="https://www.redbubble.com/people/studio-wayward/shop?asc=u">
			<span class="home-navText">Store</span>
		</a>
	</div>

	<div class="home-navButton">
		<a href="https://www.instagram.com/studio_wayward/">
			<span class="home-navText">Instagram</span>
		</a>
	</div>

	<div id="home-contact">
		<a href="{{ site.baseurl }}/contact">
			<span class="home-navText">Contact</span>
		</a>
	</div>		
</div>

<div id="home-mobileNav">
	
	<div class="home-mNavIcon">
		<a href="https://twitter.com/asterisk93">
			<img class="home-mNavIconImg" src="assets/images/general/mobile-twitter.png" alt="icon by freepik on flaticon.com">
		</a>
	</div>

	<div class="home-mNavIcon">
		<a href="https://www.redbubble.com/people/studio-wayward/shop?asc=u">
			<img class="home-mNavIconImg" src="assets/images/general/mobile-shirt.png" alt="icon by freepik on flaticon.com">
		</a>
	</div>

	<div class="home-mNavIcon">
		<a href="https://www.instagram.com/studio_wayward/">
			<img class="home-mNavIconImg" src="assets/images/general/mobile-insta.png" alt="icon by freepik on flaticon.com">
		</a>
	</div>

	<div class="home-mNavIcon">
		<a href="{{ site.baseurl }}/contact">
			<img class="home-mNavIconImg" src="assets/images/general/mobile-email.png" alt="icon by freepik on flaticon.com">
		</a>
	</div>		
</div>
