---
layout: wrapper
---

{% assign photos = site.posts | where:"type","photography, picture" %}
{% assign sets = site.posts | where:"type","photography, photoset" %}

<div id="swp-recentContainer">
	
	<div id="swp-recentText">
		<span>Gallery &#10097;&#10097;</span>
	</div>

	<div id="photoset-title">
		<span>{{ page.title }}</span>
	</div>

	<div id="swp-recentGallery">
		
		{% for post in photos %}

				<div class="swp-recentItem">
					
					<img class="swp-recentThumb" src="{{ site.baseurl }}/assets/images/photography/{{ post.keyword }}/{{ post.imgpath }}" onclick="openModal();currentSlide({{ forloop.index }})">

				</div>

		{% endfor %}

		<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

		<script type="text/javascript">
			window.sr = ScrollReveal();
			sr.reveal('.swp-recentThumb');
		</script>
	</div>



</div>

<div id="photo-modalContainer" class="modal">
  

  <div class="photo-modalContent">

  	<span class="photo-modalExit" onclick="closeModal()">&times;</span>

  	{% for post in photos %}

			<div class="photo-modalSlide">
									
				<img class="photo-modalIMG" src="{{ site.baseurl }}/assets/images/photography/{{ post.keyword }}/{{ post.imgpath }}">

				<div class="photo-modalInfo">
      				<div class="photo-modalCaption">
      					<span>{{ post.content }}</span>
      				</div>

      				<div class="photo-modalSet">
      					<span>From Photoset: </span> <br>

      					{% for set in sets %}
      					{% if post.keyword contains set.keyword %}
      					<a href="{{ site.baseurl }}{{ set.url }}">
      						<span>{{ set.title }}</span>
      					</a>
      					{% endif %}
      					{% endfor %}
      				</div>

    			</div>

			</div>

	{% endfor %}

    <a class="photo-modalPrev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="photo-ModalNext" onclick="plusSlides(1)">&#10095;</a>

  </div>
</div>

{% include modal-photo-gallery.html %}