---
layout: wrapper
---

<div id="swp-recentContainer">
	
	<div id="swp-recentText">
		<span>Recent Exposures &#10097;&#10097;</span>
	</div>

	<div id="swp-recentGallery">
		
		{% for post in site.posts limit:22 %}
			{% if post.type contains "picture" %}

				<div class="swp-recentItem">
				
					<a href="">
					
						<img class="swp-recentThumb" src="{{site.baseurl}}/assets/images/photography/{{post.keyword}}/{{post.imgpath}}">

					</a>

				</div>
			{% endif %}
		{% endfor %}
	</div>

</div>