---
layout: wrapper
---


{% if page.type contains "model" %}

<style type="text/css">
	:root:before {
		content: url({{ page.animate }})

		{% for img in page.photos %}
		content: url({{site.baseurl}}/assets/images/models/{{page.folder}}/{{img.path}})
		{% endfor %}
	}
</style>

<div id="mw-postInfo">

	<div id="mw-postTitle">
		<span>{{ page.title }}</span>
	</div>

</div>

<div id="mw-postGallery">
	
	<div class="mw-postSlide fade">
		
		<div class="mw-slideNum">
			<span>360</span>
		</div>

		<img class="mw-slideIMG" src="{{ page.animate }}">

	</div>

	{% for img in page.photos %}

		<div class="mw-postSlide fade">
		
			<div class="mw-slideNum">
				<span>{{ forloop.index }}/{{ forloop.length }}</span>
			</div>

			<img class="mw-slideIMG" src="{{site.baseurl}}/assets/images/models/{{page.folder}}/{{img.path}}">

		</div>

	{% endfor %}

	<a class="prev" onclick="slideNav(-1)">&#10094;</a>

	<a class="next" onclick="slideNav(+1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">

	<span class="dot" onclick="currentSlide(1)"></span>

	{% for img in page.photos %}

		<span class="dot" onclick="currentSlide({{forloop.index}} +1)"></span>

	{% endfor %}

</div>

<script type="text/javascript">
	var slideIndex = 1;
	showSlides(slideIndex);

	function slideNav(n) {
		showSlides(slideIndex += n);
	}

	function currentSlide(n) {
		showSlides(slideIndex = n);
	}

	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("mw-postSlide");
		var dots = document.getElementsByClassName("dot");

		if (n > slides.length){
			slideIndex = 1;
		}

		if (n < 1){
			slideIndex = slides.length;
		}

		for (i = 0; i < slides.length; i++){
			slides[i].style.display = "none";
		}

		for (i = 0; i < dots.length; i++){
			dots[i].className = dots[i].className.replace(" active", "");
		}

		slides[slideIndex - 1].style.display = "block";
		dots[slideIndex - 1].className += " active";
	}
</script>

<div id="mw-postInfo">

	<div id="mw-postScale">
		<span>Scale: {{ page.scale }}</span>
	</div>

	<div id="mw-postBlurb">
		<span>{{ content }}</span>
	</div>

</div>


{% elsif page.type contains "photography" %}

	{% if page.type contains "photoset" %}

	{% assign photos = site.posts | where:"keyword", page.keyword %}
	{% assign photos = photos | where:"type", "photography, picture" %}

		<div id="photoset-container">
			<div id="swp-recentText">
				<span>Recurring Theme &#10097;&#10097;</span>
			</div>

			<div id="photoset-title">
				<span>{{ page.title }}</span>
			</div>

			<div id="swp-recentGallery">
		
				{% for post in photos %}

					<div class="swp-recentItem">
					
						<img class="swp-recentThumb" src="{{ site.baseurl }}/assets/images/photography/{{ post.keyword }}/{{ post.imgpath }}" onclick="openModal();currentSlide({{ forloop.index }})">

					</div>

				{% endfor %}
			</div>

			<div id="photo-modalContainer" class="modal">
  

  				<div class="photo-modalContent">

  					<span class="photo-modalExit" onclick="closeModal()">&times;</span>

  					{% for post in photos %}

						<div class="photo-modalSlide">
									
							<img class="photo-modalIMG" src="{{ site.baseurl }}/assets/images/photography/{{ post.keyword }}/{{ post.imgpath }}">

							<div class="photo-modalInfo">
      							<div class="photo-modalCaption">
      								<span>{{ post.content }}</span>
      							</div>
    						</div>

						</div>

					{% endfor %}

    				<a class="photo-modalPrev" onclick="plusSlides(-1)">&#10094;</a>
    				<a class="photo-ModalNext" onclick="plusSlides(1)">&#10095;</a>

  				</div>
			</div>
		</div>

		{% include modal-photo-gallery.html %}



	{% elsif page.type contains "picture" %}

		<div>
			
		</div>

	{% endif %}

{% endif %}