<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}}</title>
	
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	{% if page.header contains "models" or page.type contains "model" %}
		<meta name="description" content="{{ page.title }} - Scale Models, Gunpla, Dioramas @ Wayward Model Works">
	{% elsif page.header contains "photography" or page.type contains "photography" %}
		<meta name="description" content="A collection of moments, captured through a viewfinder.">
	{% elsif page.header contains "resume" %}
		<meta name="description" content="Kevin Doodnauth: Tech & Design">
	{% else %}
		<meta name="description" content="A creative crossroads, an intersection of intrigue. Welcome to Studio Wayward.">
	{% endif %}
	{% include blog-head.html %}
</head>

<body>
	<div id="content-flex">
		<div id="content">
			{% unless page.type contains "home" %}
				{% include header.html %}
			{% endunless %}

			{{ content }}
		</div>

		{% unless page.type contains "home" %}
			<div id="footer">
				{% include footer.html %}
			</div>
		{% endunless %}
</body>

</html>
